* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --color-dark-charcoal: hsl(24, 5%, 18%);
    --padding: 2vw;
}

body {
    font-family: Outfit, sans-serif;
    background-color: var(--color-eggshell);
}

.container {
  max-width: max(50%, 375px);
  background-color: white;
  margin-inline: auto;
}

section {
  padding: var(--padding) 4vw;
}

h1,
h2 {
  padding-bottom: var(--padding);
}

ol,
ul,
table {
  padding-left: 22px;
}

table {
  padding-top: var(--padding);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    padding: 10vw 0;
  }

  .container {
    padding: 3vw;
    border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    -moz-border-radius: 1.5vw;
    -ms-border-radius: 1.5vw;
    -o-border-radius: 1.5vw;
  }

  container,
  img {
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}

  section {
    padding: var(--padding) 0;
  }
}
